.inputBox {
    width: 32rem;
    margin: 1.1rem;
    border-radius: 7px;
    border: 1px solid rgb(172, 172, 253);
    padding: 10px 14px;
}

.SignBtn {
    border: 1px solid rgb(172, 172, 253);
    border-radius: 12px;
    padding: 12px 15px;
    margin: 1.1rem 14.2rem;
    background-color:rgb(255, 157, 157);
    color:white;
}

.SignBtn:active {
  background-color: #3e8e41;
  /* box-shadow: 0 5px #666; */
  transform: translateY(4px);
}

/* .SignBtn:hover{
    background-color:rgb(255, 157, 157);
    color:white;
} */

.error{
    margin-left: 1.9rem;
    color: red;
}

